Makefile
Makefile.in*
*~
*.o
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
LINGUAS
POTFILES
stamp-*

data/stuurman-desktop-preferences.desktop
*.1
*.ui
data/ui/about.glade
*.gmo
src/pcmanfm
src/xml-purge
